shell/zsh/plugins
lvim/lazy-lock.json
tmux/.config/tmux/plugins
*session/*
./nvim/session/*
./lvim/session/*
./lvim/session
./lvim/*session*
.gitsecret/keys/random_seed
!*.secret
secrets/netrc
secrets/ssh/aur
secrets/ssh/aur.pub
secrets/ssh/config
secrets/ssh/known_hosts
secrets/ssh/known_hosts.old
home/.shell/aliases.zwc
home/.shell/fzf.zsh.zwc
